adlfs==2025.8.0
aiobotocore==2.25.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aioitertools==0.12.0
aiooss2==0.2.11
aiosignal==1.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
amqp==5.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
appdirs==1.4.4
argcomplete==3.6.3
asyncssh==2.21.1
atpublic==6.0.2
attrs==25.4.0
azure-core==1.36.0
azure-datalake-store==0.0.53
azure-identity==1.25.1
azure-storage-blob==12.27.1
bcrypt==5.0.0
billiard==4.2.2
boto3==1.40.61
botocore==1.40.61
cachetools==6.2.1
celery==5.5.3
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
configobj==5.0.9
crcmod==1.7
cryptography==43.0.3
decorator==5.2.1
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.9.0
dpath==2.2.0
dulwich==0.24.8
dvc==3.63.0
dvc-azure==3.1.0
dvc-data==3.16.12
dvc-gdrive==3.0.1
dvc-gs==3.0.2
dvc-hdfs==3.0.0
dvc-http==2.32.0
dvc-objects==5.1.2
dvc-oss==3.0.0
dvc-render==1.0.2
dvc-s3==3.2.2
dvc-ssh==4.2.2
dvc-studio-client==0.22.0
dvc-task==0.40.2
dvc-webdav==3.0.0
dvc-webhdfs==3.1.0
entrypoints==0.4
fastapi==0.112.0
filelock==3.20.0
flatten-dict==0.4.2
flufl.lock==8.2.0
frozenlist==1.8.0
fsspec==2025.10.0
funcy==2.0
gcsfs==2025.10.0
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.28.1
google-api-python-client==2.186.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
google-cloud-core==2.5.0
google-cloud-storage==3.4.1
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.71.0
grandalf==0.8
gto==1.9.0
gunicorn==22.0.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
hydra-core==1.3.2
idna==3.11
iniconfig==2.3.0
isodate==0.7.2
iterative-telemetry==0.0.10
jmespath==0.10.0
joblib==1.5.2
knack==0.13.0
kombu==5.5.4
markdown-it-py==4.0.0
mdurl==0.1.2
msal==1.34.0
msal-extensions==1.3.1
multidict==6.7.0
networkx==3.5
numpy==2.3.4
oauth2client==4.1.3
oauthlib==3.3.1
omegaconf==2.3.0
orjson==3.11.4
oss2==2.18.4
ossfs==2025.5.0
packaging==25.0
pandas==2.2.2
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.0
psutil==7.1.3
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.3
pydantic-settings==2.11.0
pydantic_core==2.41.4
pydot==4.0.1
PyDrive2==1.21.3
pygit2==1.19.0
Pygments==2.19.2
pygtrie==2.5.0
PyJWT==2.10.1
pyOpenSSL==24.2.1
pyparsing==3.2.5
pytest==8.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
pywin32==311
PyYAML==6.0.3
requests==2.32.3
requests-oauthlib==2.0.0
rich==14.2.0
rsa==4.9.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.14
s3fs==2025.10.0
s3transfer==0.14.0
scikit-learn==1.5.1
scipy==1.16.3
scmrepo==3.5.2
semver==3.0.4
setuptools==80.9.0
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sqltrie==0.11.2
sshfs==2025.10.0
starlette==0.37.2
tabulate==0.9.0
threadpoolctl==3.6.0
tomlkit==0.13.3
tqdm==4.67.1
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.30.5
vine==5.1.0
voluptuous==0.15.2
wcwidth==0.2.14
webdav4==0.10.0
wrapt==1.17.3
yarl==1.22.0
zc.lockfile==4.0
